---
import PageHeading from "../components/page-heading.astro";
import PostsLoop from "../components/posts-loop.astro";
import Layout from "../layouts/main.astro";
import Skills from "../components/Skills.jsx";

---

<Layout title="My Writing">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="Skills"
      description="A lo largo de mi trayectoria, he trabajado con diversas tecnologías para construir aplicaciones escalables, eficientes y atractivas. Desde desarrollo frontend y backend hasta automatización y despliegue, aquí te muestro mis principales habilidades y nivel de dominio. 🚀"
    />

   <Skills/>
  </section>
</Layout>
